h1 {
    color: maroon;
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    font-variant: small-caps;
    margin-bottom: 20px;
    margin-top: 0px;
}

html {
    background-color: powderblue;
}

button:hover {
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

#leftColumn {
    float: left;
    /* margin: auto; */
    position: fixed;
}

#mainTable {
    /* margin: auto; */
    text-align: center;
    width: 543px;
    height: 560px;
    margin: 0px;
}

#middleColumn {
    margin-left: 400px;
    position: absolute;
    width: 565px;
    height: 565px;
    background-size: contain;
    background-repeat: no-repeat;
}

#rightColumn {
    float: right;
    /* margin: auto; */
    position: relative;
    border: 1px solid black;
}

#erase, #clear {
    font-size: 20px;
    float: left;
    position: fixed;
    width: 5em;
    height: 2em;
    font-family: monospace;
    font-weight: 30px;
}

#erase {
     margin-top: 250px;
     background-color: rgb(0, 121, 186);
}

#clear {
    margin-top: 295px;
    background-color: firebrick;
}